<div>
<h1>Agenda Telefónica</h1>
<br />
<h2>Registrar Contacto</h2>
<br />
<p>Favor de ingresar la informacion de su contacto</p>
	<div>
			<form class="col-xs-8 col-sm-8 col-md-8 col-lg-8" [formGroup]="formDatosContacto" >
  			<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.nombre.invalid && valida}" for="nombre">Nombre: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.nombre.invalid && valida}">
						<div class="">
							<input type="text" name="nombre" [(ngModel)]="Info.nombre" class="form-control" formControlName="nombre" pattern="^[a-zA-Z-zÀ-ÿ\s ']*$">
						</div>
					</div>
				</div>

				<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.apellido.invalid && valida}" for="apellido">Apellido: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.apellido.invalid && valida}">
						<div class="">
							<input type="text" name="apellido" [(ngModel)]="Info.apellido" class="form-control" formControlName="apellido" pattern="^[a-zA-Z-zÀ-ÿ\s ']*$">
						</div>
					</div>
				</div>

				<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.direccion.invalid && valida}" for="direccion">Dirección: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.direccion.invalid && valida}">
						<div class="">
							<input type="text" name="direccion" [(ngModel)]="Info.direccion" class="form-control" formControlName="direccion">
						</div>
					</div>
				</div>

				<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.telefono.invalid && valida}" for="telefono">Teléfono	: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.telefono.invalid && valida}">
						<div class="">
							<input type="tel" name="telefono" [(ngModel)]="Info.telefono" class="form-control" formControlName="telefono" pattern="^[0-9]+$">
						</div>
					</div>
				</div>

				<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.movil.invalid && valida}" for="movil">Móvil: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.movil.invalid && valida}">
						<div class="">
							<input type="tel" name="movil" [(ngModel)]="Info.movil" class="form-control" formControlName="movil" pattern="^[0-9]+$">
						</div>
					</div>
				</div>

				<div class="">
					<label class="" [ngClass]="{'txt red': formDatosContacto.controls.Email.invalid && valida}" for="Email">Email: </label>
					<div class="form-group" [ngClass]="{'has-error': formDatosContacto.controls.Email.invalid && valida}">
						<div class="">
							<input type="text" name="Email" [(ngModel)]="Info.Email" class="form-control" formControlName="Email">
						</div>
					</div>
				</div>
		</form>


	</div>
	
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
					<p class="txt red mb-5">{{mensajeError}}</p>
					<p class="txt red mb-5">{{mensaje}}</p>
				<button 
				(click)="Registrar()" 
				class="btn-success btn" >Registrar</button>

		</div>	
		
</div>
